.expandable-item {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    outline: none;
    font-size: 15px;
    margin: 5px 0;
    height: 50px;
    transition: height 2s, background-color 1s;
}

.expandable-item:hover {
    background-color: rgb(100, 100, 100);
}

.expandable-item:active {
    background-color: rgb(31, 31, 31);
}

.expandable-item.enter {
    height: 400px;
    background-color: rgb(173, 51, 51);
}

.expandable-item.enter.exit {
    height: 50px;
    background-color: #777;
}

.content {
    transition: height ease-in 2s;
}
